

<!--&lt;!&ndash;<div class="cotact_container">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="contactform">&ndash;&gt;-->
<!--&lt;!&ndash;        <form>&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="text" name="Name" placeholder="Name" class="input" style="height: 20px; font-size: 17px; font-family: Verdana monospace;"><br>&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="text" name="Your Email" placeholder="Your Email" class="input" style="height: 20px;font-size: 17px; font-family: Verdana monospace;"><br>&ndash;&gt;-->
<!--&lt;!&ndash;            <textarea name="Message" cols="40" rows="7" style="resize: none; height: 150px; font-size: 17px; font-family: Verdana monospace;"  placeholder="Message" class="input"></textarea><br>&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="submit" value="Send" style="font-size: 18px; font-family: Verdana monospace;" class="send_button">&ndash;&gt;-->
<!--&lt;!&ndash;        </form>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div class="linkedin_container">-->
<!--    <div class -->
<!--    -->
<!--</div>-->

