{% extends "index.html" %}
{% block main %}
<link rel="stylesheet" type="text/css" href="/static/style.css">
<div class="fade-in">
<div class="education">
    <div class ="ulpic">
        <img src="/static/Images/ul.png">
    </div>

    <div class ="sports_pic">
        <img src="/static/Images/sports.jpg">
    </div>

<div class="education_text">
    2020-Present<br>
    <br><b class="blue-gradient">University of Łódź, Bachelor's in Computer Science</b><br>
    Faculty of Mathematics and Computer Science<br>
    GPA 3.72/4.0<br>
    <br>
    Major in Computer Science<br>
    Minor in Mathematics<br>

    <br><b class="blue-gradient">AWARDS</b><br>

<table>
            <tr>
                <td>Rector's scholarship (Top 10% highest scoring students)</td>
                <td>2022-Present</td>
            </tr>
            <tr>
                <td>Third position in women's table tennis, Sports Day.</td>
                <td>May 2023</td>
            </tr>
            <tr>
                <td>Third position in 3-point basketball, Sports Day.</td>
                <td>May 2023</td>
            </tr>
        </table>


    </div>
</div>
</div>
{% endblock %}