{% extends "index.html" %}
{% block main %}

<link rel="stylesheet" type="text/css" href="/static/style.css">
<div class="fade-in">
<div class="introduction_main">
        <h2 class="blue-gradient">Hi, I'm Pratha! </h2>
        <p>An enthusiastic third-year computer science student studying at the University of Lodz with an interest in programming, testing, and the IT field. Eager to kickstart my career and make a lasting impact by working on challenging projects. </p>
</div>
</div>
{% endblock %}