{% extends "index.html" %}
{% block main %}
<link rel="stylesheet" type="text/css" href="/static/style.css">
<div class="fade-in">
<div class="projects">
  <div class="project">
    <div class="image-container">
      <img src="/static/Images/ecommerce.png" alt="Project 1">
    </div>
    <div class="text-container">
      <h3 class="blue-gradient">AN ONLINE MARKETPLACE</h3>
      <p>
      <br><b>Technologies Used</b><br>
    Python, FastAPI, MySQL, HTML, CSS, JavaScript, <br>
    <br>
        The project is an implementation of an online marketplace, where users can buy and sell old or new products online. Users can create an account, upload listings, edit and delete listings, search for items and browse others' items.<br>
        <br>
        <a href="/demo_ecommerce" target ="_blank" class="info_link" style="color: #333333"> Demo</a>
      </p>
    </div>
  </div>

  <div class="project">
    <div class="image-container">
      <img src="/static/Images/calculator.png" alt="Project 2">
    </div>
    <div class="text-container">
      <h3 class="blue-gradient">UNUSUAL CALCULATOR</h3>
      <p>
        <br><b>Technologies Used</b><br>
    HTML, CSS, JavaScript <br><br>A calculator that counts the sum, product, maximum and minimum of numbers entered by the user or randomly generated numbers. The theme colors are changeable and the operations can be downloaded in a custom filename.</p>
    <a href="/calculator" target ="_blank" class="info_link" style="color: #333333"> GitHub</a>
    </div>
  </div>

    <div class="project">
      <div class="image-container">
      <img src="/static/Images/banking.png" alt="Project 2">
    </div>
      <div class="text-container">
      <h3 class="blue-gradient">SIMPLE BANKING SYSTEM using OOP</h3>
      <p>
        <br><b>Technologies Used</b><br>
    Python, Object Oriented Programming<br><br>A banking system using OOP which displays withdraws, deposits and account details. </p>
      <a href="/banking_OOP" target="_blank" class="info_link" style="color: #333333">GitHub</a>
    </div>
    </div>

      <div class="project">
      <div class="image-container">
      <img src="/static/Images/RPS.png" alt="Project 2">
    </div>
      <div class="text-container">
      <h3 class="blue-gradient">ROCK, PAPER, SCISSORS - CONSOLE GAME</h3>
      <p>
        <br><b>Technologies Used</b><br>
    Python<br><br>It's you vs the computer!</p>
      <a href="/RPS" target="_blank" class="info_link" style="color: #333333">GitHub</a>
    </div>
      </div>

        <div class="project">
      <div class="image-container">
      <img src="/static/Images/portfolio.png" alt="Project 2">
    </div>
      <div class="text-container">
      <h3 class="blue-gradient">PORTFOLIO</h3>
      <p>
        <br><b>Technologies Used</b><br>
    Python, FastAPI, HTML, CSS<br><br>Portfolio Website</p>
      <a href="/portfolio" target="_blank" class="info_link" style="color: #333333">GitHub</a>
    </div>
  <!-- Add more project items as needed -->

</div>
</div>
  {% endblock %}
