{% extends "index.html" %}
{% block main %}

<div class="fade-in">
<div class="technicalskills">
    <div class="skill">
        <img src="/static/Images/softskills/ielts.png">
        <p class="skill-name">C1 level- English</p>
    </div>

    <div class="skill">
        <img src="/static/Images/softskills/critical.png">
        <p class="skill-name">Critical Thinking</p>
    </div>

        <div class="skill">
        <img src="/static/Images/softskills/problemsolve.png">
        <p class="skill-name">Problem Solving</p>
    </div>

    <div class="skill">
        <img src="/static/Images/softskills/time.png">
        <p class="skill-name">Time Management</p>
    </div>

    <div class="skill">
        <img src="/static/Images/softskills/communication.png">
        <p class="skill-name">Excellent Communictaion</p>
    </div>

    <div class="skill">
        <img src="/static/Images/softskills/detail.png">
        <p class="skill-name">Detail Oriented</p>
    </div>


    <div class="skill">
        <img src="/static/Images/softskills/flexible.png">
        <p class="skill-name">Adaptability & Flexibility</p>
    </div>


</div>
</div>
{% endblock %}