{% extends "index.html" %}
{% block main %}

<div class="fade-in">
<div class="technicalskills">
    <div class="skill">
        <img src="/static/Images/skills_icons/python.png" alt="Python Icon">
        <p class="skill-name">Python</p>
    </div>

    <div class="skill">
        <img src="/static/Images/skills_icons/bash1.png" alt="Bash Icon">
        <p class="skill-name">Bash</p>
    </div>

    <div class="skill">
        <img src="/static/Images/skills_icons/mysql1.png" alt="MySql icon">
        <p class="skill-name">MySQL</p>
    </div>

    <div class="skill">
        <img src="/static/Images/skills_icons/html1.png" alt="HTML icon">
        <p class="skill-name">HTML</p>
    </div>

    <div class="skill">
        <img src="/static/Images/skills_icons/css1.png" alt="CSS icon">
        <p class="skill-name">CSS</p>
    </div>

    <div class="skill">
        <img src="/static/Images/skills_icons/linux.png" alt="Linux icon">
        <p class="skill-name">Linux</p>
    </div>

    <div class="skill">
        <img src="/static/Images/skills_icons/testing.png" alt="PyTest icon">
        <p class="skill-name">PyTest</p>
    </div>

    <div class="skill">
        <img src="/static/Images/skills_icons/fastapi.png" alt="FastAPI icon" style="filter: invert(100%);">
        <p class="skill-name">FastAPI</p>
    </div>

    <div class="skill">
        <img src="/static/Images/skills_icons/c++.png" alt="C++ icon">
        <p class="skill-name">C++</p>
    </div>

    <div class="skill">
        <img src="/static/Images/skills_icons/git.png" alt="Git icon" style="filter: invert(100%);">
        <p class="skill-name">Git & GitHub</p>
    </div>

    <div class="skill">
        <img src="/static/Images/skills_icons/macos1.png" alt="Mac icon">
        <p class="skill-name">Mac OS</p>
    </div>

     <div class="skill">
        <img src="/static/Images/skills_icons/windows.png" alt="Windows icon">
        <p class="skill-name">Windows OS</p>
    </div>

    <div class="skill">
        <img src="/static/Images/skills_icons/word.png" alt="Word icon">
        <p class="skill-name">MS Word</p>
    </div>

    <div class="skill">
        <img src="/static/Images/premiere.png" alt="Premiere icon">
        <p class="skill-name">Adobe Premiere Pro</p>
    </div>

</div>
</div>
{% endblock %}